<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Movie Database - Add</title>
    	<link rel="stylesheet" href="css">
    </head>
    <div class="sidenav">
        <a href="/">Home</a>
        <a href="/add">Add Movie</a>
        <a href="/about">About</a>
    </div>
    <div class="header">
        <h1>Add a Movie</h1>
    </div>
    <div class="body" id="folders">
        <div v-for="(item, index) in folders">
            <!-- <input type="button" v-bind:value=item[0]/> -->
            <button type="button" class="add_button" v-bind:id=index>Find!</button><input type="text" v-bind:name=index v-bind:value=item[0]>
        </div>
        <span id="nothing" class="nothing">Nothing to Add</span>
        <div id="notification" class="notification">
            <div id="notification_success">
                <div class="notification-icon"><img src="/success.svg" width="48" height="48"></div>
                <div class="notification-text">Successfully added movie</div>
            </div>
            <div id="notification_failure">
                <div class="notification-icon"><img src="/failure.svg" width="48" height="48"></div>
                <div class="notification-text" id="failure-text">Failed to add movie</div>
            </div>
        </div>
    </div>
    <div id="addModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2 id="modal-title">Confirm Movie</h2>
            </div>
            <div class="modal-content">
                <p id="modalContent">Some text in the Modal..</p>
            </div>
            <div class="modal-options" id="modal-options">
                Definition: <select name="Definition" id="Definition">
                    <option v-for="(d, i) in definitions" v-bind:value=i>{{ d }}</option>
                </select>
                Watched: <select name="watched" id="watched">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="confirm-button" id="confirm">Yes</button>
                <button type="button" class="no-button" id="no">No</button>
                <!-- TODO -->
                <button type="button" class="research-button" id="research">Re-search as TV</button>
            </div>
        </div>
    </div>
    <div id="custom-modal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2 id="modal-title">Custom Add</h2>
            </div>
            <div class="modal-options">
                <table>
                    <tbody>
                        <tr><td>Title</td><td contenteditable="true" id="CustTitle"></td></tr>
                        <tr><td>Definition</td><td>
                            <select name="Definition" id="DefinitionCustom">
                                <option v-for="(d, i) in definitions" v-bind:value=i>{{ d }}</option>
                            </select>
                        </td></tr>
                        <tr><td>Watched</td><td>
                            <select name="watched" id="CustWatched">
                                <option value="0">No</option>
                                <option value="1">Yes</option>
                            </select>
                        </td></tr>
                        <tr><td>Plot</td><td contenteditable="true" id="CustPlot"></td></tr>
                        <tr><td>Poster</td><td contenteditable="true" id="CustPoster"></td></tr>
                        <tr><td>Runtime</td><td contenteditable="true" id="CustRuntime"></td></tr>
                        <tr><td>Released</td><td contenteditable="true" id="CustReleased"></td></tr>
                        <tr><td>Genre</td><td contenteditable="true" id="CustGenre"></td></tr>
                        <tr><td>Director</td><td contenteditable="true" id="CustDirector"></td></tr>
                        <tr><td>imdbID</td><td contenteditable="true" id="CustimdbID"></td></tr>
                        <tr><td>idmd</td><td contenteditable="true" id="Custidmd"></td></tr>
                        <tr><td>Rotten Tomatoes</td><td contenteditable="true" id="CustRottenT"></td></tr>
                        <tr><td>Metacritic</td><td contenteditable="true" id="CustMetacritic"></td></tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="confirm-button" id="submit-custom">Submit</button>
                <button type="button" class="no-button" id="no-custom">Cancel</button>
            </div>
        </div>
    </div>
    <script src="/add_js"></script>
</html>