<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Movie Database</title>
    	<link rel="stylesheet" href="css">
    </head>
    <div class="sidenav">
        <a href="/">Home</a>
        <a href="/add">Add Movie</a>
        <a href="/about">About</a>
    </div>
    <div class="header">
        <h1>Movies</h1>
    </div>
    <div class="body">
        <div id="movies" class="flex-container">
            <div class="movie" v-for="movie in movies">
                <img v-bind:src=movie.poster width="150px" height="225px">
                <!-- {{ movie.img }} -->
                <a v-bind:id=movie.name class="open-dir-button">{{ movie.name }}</a>
            </div>
        </div>
        <span id="nothing" class="nothing">No movies yet</span>
    </div>
    <script src="home_js"></script>
</html>