:root {
    --main-bg-color: #162C9a;
    --main-fg-color: #FFD027;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--main-bg-color);
    overflow-x: hidden;
    padding-top: 20px;
    /* border: 1px solid var(--main-fg-color); */
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: var(--main-fg-color);
    display: block;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

.sidenav a:hover {
    color: #f1f1f1;
    font-size: 28px;
}

.header {
    margin-left: 200px;
    color: var(--main-fg-color);
    background-color: var(--main-bg-color);
    z-index: 1;
    font-size: 25px;
    position: fixed;
    width: 100%;
    top: 0;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

.body {
    color: var(--main-fg-color);
    margin-left: 200px;
    margin-top: 150px;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

body {
    background-color: var(--main-bg-color);
    font-size: 12px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.movie {
    padding: 20px 20px 20px 20px;
    width: 150px;
    text-align: center;
    height: 250px;
}

.movie:hover {
    color: #f1f1f1;
}

.add_button {
    color: var(--main-fg-color);
    background-color: var(--main-bg-color);
    border: 2px solid var(--main-fg-color);
}

input {
    color: var(--main-fg-color);
    background-color: var(--main-bg-color);
    width: 700px;
    border: none;
    padding: 5px 10px;
}

.nothing {
    display: none;
    font-size: 150%;
}

 /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content/Box */
.modal-content {
    background-color: var(--main-bg-color);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
  
  /* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
    text-align:center;
}

.modal-footer {
    padding: 2px 16px;
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
    text-align:center;
}

.modal-content {
    position: relative;
    background-color: var(--main-bg-color);
    margin: auto;
    padding: 0;
    border: none;
    width: 80%;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19); */
    animation-name: animatetop;
    animation-duration: 0.4s;
    color: var(--main-fg-color);
    font-size: 16px;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.confirm-button {
    background-color: limegreen;
    border:2px limegreen;
    font-size: 20px;
    width: 200px;
}

.no-button {
    background-color: red;
    border: 2px red;
    font-size: 20px;
    width: 200px;
}

.modal-options {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    text-align: center;
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
}

.modal-options select {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
    border: 1px var(--main-fg-color);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-weight: bold;
}

.modal-options table, td {
    border: 1px var(--main-fg-color);
}

.modal-options table {
    width: 80%;
}

.modal-options td:nth-child(even) {
    text-align: left;
}

.modal-options td:nth-child(odd) {
    text-align: right;
}

.notification {
    display: none;
    z-index: 1;
    animation-name: animatenotifications;
    background-color: var(--main-bg-color);
    border: 2px solid var(--main-fg-color);
    border-radius: 10px;
    right: 10%;
    top: 10%;
    color: var(--main-fg-color);
    width: 300px;
    height: 75px;
    position: fixed;
    animation-duration: 0.4s;
}

.notification-icon {
    position: relative;
    top: 13px;
    left: 13px;
}

.notification-text {
    position: relative;
    top: -25px;
    left: 74px;
    font-size: 18px;
}

@keyframes animatenotifications {
    from {top: -300px; opacity: 0}
    to {top: 10%; opacity: 1}
}